<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="Speak is a free Video Chatting Website"/>
    <meta name="robots" content="index,follow"/>
    <link rel="icon" href="/img/icon.svg"/>
    <link rel="stylesheet" href="/css/invite-style.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
            rel="stylesheet"
    />
    <title>Speak</title>
</head>
<body>
<header class="main-head">
    <nav>
        <div class="logo">
            <img src="/img/video-chat.svg" alt="logo"/>
            <h1>Speak</h1>
        </div>
        <div class="nav-links">
            <button id="share-button"><h2>Share</h2></button>
        </div>
    </nav>
</header>
<section class="hero">
    <div class="hero-left">
        <div class="hero-left-svg">
            <img src="/img/undraw_video_call_kxyp.svg" alt="video call svg image"/>
        </div>
        <div class="hero-left-text-area">
            <div class="centered-form">
                <div class="centered-form__box">
                    <form action="/">
                        <label>Create a room</label>
                        <input type="text" name="createRoom" placeholder="Room">

                        <label>Or</label>

                        <select name="joinRoom" id="rooms">
                            <option value="">Select an existing room</option>
                        </select>
                        <button>Join</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="hero-left-button-area">
            <div class="input-one">
                <input
                        id="invite-link-input"
                        type="text"
                        placeholder="Enter Invite Link"
                />
                <button id="join-button" onclick="getInputValue();">Join</button>
            </div>
        </div>
    </div>
    </div>
    <div class="hero-right">
    </div>
</section>
<script src="/js/invite.js"></script>
</body>
</html>